html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Oswald, monospace;
	font-weight: bold;
}
header{
	width: 100%;
	height: 437px;
	background-color: #6EACA1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: relative;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.logo{
	/*float: right;*/
}
.container-hello {
	font-size: 24px;
}
.container-hello_img {
	width: 538px;
	height: 371px;
	background-color: #F8D9AB;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 0 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.first-text-hello {
	font-size: 48px; margin: 5px 0;
}
.second-text-hello {
	font-size: 24px; margin: 5px 0;
}
.br_container-hello {
	display: none;
}

.first-prog-text {
	font-size: 48px;
}
.second-prog-text {
	font-size: 20px;
}

.container-prog{
	width: 100%;
	/*height: 100%;*/
	background: white;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	box-sizing: border-box;
}
.container-prog p{
	padding: 0;
	margin: 0;
}
hr{
	border: none;
	background: #FF2E4C;
	color: #FF2E4C;
	height: 3px;
	width: 100%;
	padding: 1px 0 1px 0;
}
.games p{
	font-size: 15px;
}
.game{
	cursor: pointer;
	width: 49%;
	display: flex;
	align-items: center;
}
.games_wrap {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.game {
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
}
.game img {
	border-radius: 15px;
}
.game p{
	font-size: 30px;
	margin-left: 30px;
}
.games{
	width: 100%;
	display: flex;
	justify-content: center /*space-between*/;
	padding-bottom: 20px;
	padding-top: 25px;
}
.po{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.about_text-first {
	margin-bottom: 20px; font-size: 48px;
}
.about_text-second {
	font-size: 24px;
}
.about_big_text{
	display: flex;
}
.about_big_text.active{
	display: flex;
}
.about_btn{
	display: none;
}
.container-about{
	width: 100%;
	/*height: 100%;*/
	background: #016F94;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 10%;
	text-align: center;
	box-sizing: border-box;
	color: white;
}
.container-about p{
	padding: 0;
	margin: 0;
}
.about_btn {
	width: 180px;
	height: 42px;
	background: #ffff;
	color: #016F94;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 20px;
	font-size: 20px;
}
.about_btn:hover{
	-webkit-box-shadow: 0px 6px 22px -1px #000000; 
	box-shadow: 0px 6px 22px -1px #000000;
}
.container-about-comand{
	width: 100%;
	/*height: 100%;*/
	background: #FBAB69;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 10%;
	text-align: center;
	box-sizing: border-box;
	color: white;
}
.about_text_two{
	padding: 0;
	margin: 0;
}
footer{
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 20px 0;
}
footer p{
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 24px;
}
a {
	text-decoration: none;
	color: black;
}
.email {
	font-size: 24px;
}
/*MEDIA*/

.popab-wrap {
	position: absolute;
	/*padding: 30px;*/
	background-color: rgba(0,0,0,0.4);
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
}
.popab-wrap.active {
	opacity: 1;
	visibility: visible;
}
.popab {
	width: 80%;
	padding: 30px 60px;
	background-color: #FEDFB1;
	z-index: 50;
	display: flex;
	border-radius: 20px;
}
.popab img {
	border-radius: 20px;
}
.img_popab {
	margin-right: 30px; 
}
.papab-hide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popab h3 {
	font-size: 30px;
}
.popab button {
	background-color: #FF6B2D;
	border: none;
	padding: 20px 30px;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	color: white;
	border-radius: 5px;
}

.footer_logo {
	position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;
}

@media (max-width: 1170px) {
	.second-text-hello {
		font-size: 20px;
	}
}
@media (max-width: 1065px) {
	.first-text-hello {
		font-size: 35px;
	}
	.br_container-hello {
		display: block;
	}
}

@media (max-width: 980px) {
	.container-hello_img {
		width: 480px;
	}
}
@media (max-width: 950px) {
	.logo {
		height: 210px;
	}
	.container-hello_img {
		width: 400px;
		height: 340px;
	}
	header {
		min-height: 500px;
	}
}
@media (max-width: 700px) {
	footer {
		flex-direction: column;
		text-align: center;
	}
}
@media (max-width: 857px) {
	.popab {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.popab img {
		width: 128px;
		height: 128px;
		margin: 0;
	}
	.popab-wrap {
		padding: 0 30px;
		box-sizing: border-box;
	}
}
@media (max-width: 840px) {
	.container-hello_img {
		position: static;
		width: 100%;
	}
	.logo {
		width: 484px;
		height: 272px;
	}
	header {
		display: block;
		/*min-height: 520px;*/
	}
	.container-hello {
		padding: 25px 0;
		text-align: center;
	}
}
@media (max-width: 800px) {
	.game p {
		font-size: 20px;
	}
}
@media (max-width: 630px) {
	.games_wrap {
		flex-direction: column;
		align-items: center
	}
	.game {
		margin: 10px 0;
		width: 100%;
	}
}
@media (max-width: 630px) {
	.game img {
		width: 100px;
		height: 100px;	
	}
}
@media (max-width: 480px) {
	.email {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.logo {
		width: 242px;
		height: 136px;
	}
	.container-hello_img {
		height: 260px;
	}

	.first-prog-text {
		font-size: 35px;
	}
	.about_text-first {
		font-size: 35px;
	}
}

@media (max-width: 1259px) {
	.footer_logo {
		position: static;
		left: 0;
		top: 0;
		transform: translate(0, 0);
	}
}
@media (max-width: 858px) {
	.footer_logo {
		position: absolute;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);
	}
	footer {
		padding-top: 70px;
	}
}
@media (max-width: 500px) {
	.about_big_text{
		display: none;
	}
	.about_btn{
		display: flex;
		justify-content: center;
		align-items: center;
	}
} 